$muiDataGridBackground: var(--muiDataGridBackground);
$mainBackgroundColor: var(--mainBackgroundColor);
$rootBackgroundColor: var(--rootBackgroundColor);
$colorSecondary: var(--colorSecondary);
$colorPrimary: var(--colorPrimary);
$placeholderColor: var(--placeholderColor);
$inputBorder: var(--inputBorder);
$cardGray: var(--cardGray);
$white: var(--white);
$black: var(--black);
